/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        HRL: HRL {
            compatible = "zmk,behavior-hold-tap";
            label = "HRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <210>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
        };

        HRR: HRR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <210>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
        };

        layerSwTap: layerSwTap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERSWTAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            quick-tap-ms = <175>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        layer5_left {
            bindings = <&mo 5>;
            key-positions = <40 41>;
        };

        layer5_right {
            bindings = <&mo 5>;
            key-positions = <44 45>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE                &layerSwTap 4 Q    &layerSwTap 3 W  &layerSwTap 2 E  &layerSwTap 1 R  &layerSwTap 0 T  &kp TAB  &kp DELETE     &layerSwTap 0 DE_Z  &layerSwTap 1 U     &layerSwTap 2 I  &layerSwTap 3 O  &layerSwTap 4 P               &kp DE_U_UMLAUT
&mt LEFT_SHIFT BACKSPACE  &HRL LEFT_SHIFT A  &HRL LEFT_ALT S  &HRL LCTRL D     &lt 1 F          &kp G            &mo 3    &kp BACKSPACE  &kp H               &HRR RIGHT_SHIFT J  &HRR RCTRL K     &HRR LEFT_ALT L  &HRR RIGHT_SHIFT DE_O_UMLAUT  &mt RIGHT_SHIFT DE_A_UMLAUT
&kp LEFT_CONTROL          &mt LEFT_ALT DE_Y  &kp X            &kp C            &kp V            &kp B                                    &kp N               &kp M               &kp DE_COMMA     &kp DE_DOT       &mt RIGHT_ALT DE_MINUS        &mt RCTRL ENTER
                                                              &mo 4            &lt 2 TAB        &lt 1 SPACE                              &lt 1 SPACE         &lt 2 TAB           &mo 4
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |  €  |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |   |  |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&trans  &kp N1  &kp N2  &kp N3        &kp N4  &kp N5  &kp LCTRL  &kp DELETE  &kp N6    &kp N7         &kp N8     &kp N9     &kp N0       &kp DE_SHARP_S
&trans  &trans  &trans  &kp LEFT_GUI  &trans  &trans  &kp LALT   &trans      &kp LEFT  &kp DOWN       &kp UP     &kp RIGHT  &kp DE_EURO  &kp DEL
&trans  &trans  &trans  &trans        &trans  &trans                         &kp HOME  &kp PAGE_DOWN  &kp PG_UP  &kp END    &trans       &kp DE_PIPE
                        &trans        &trans  &trans                         &trans    &trans         &kp SPACE
            >;
        };

        programming {
            display-name = "PROG";
            bindings = <
&trans  &kp DE_AT       &kp DE_CARET    &kp DE_LESS_THAN  &kp DE_GREATER_THAN  &kp DE_HASH   &kp LC(DE_C)  &kp DE_PLUS  &kp DE_QUESTION       &mt DE_LESS_THAN DE_LEFT_BRACE  &mt DE_GREATER_THAN DE_RIGHT_BRACE  &kp DE_EXCL          &kp DE_DOLLAR     &kp DE_BACKSLASH
&trans  &kp DE_SECTION  &kp DE_PERCENT  &kp DE_COLON      &kp DE_SEMI          &kp DE_MINUS  &kp LC(DE_V)  &none        &kp DE_DOUBLE_QUOTES  &kp DE_LEFT_PARENTHESIS         &kp DE_RIGHT_PARENTHESIS            &kp DE_SINGLE_QUOTE  &kp DE_ASTERISK   &kp DE_SLASH
&trans  &kp DE_GRAVE    &kp DE_ACUTE    &kp DE_TILDE      &kp DE_PIPE          &kp DE_EURO                              &kp DE_EQUAL          &kp DE_LEFT_BRACE               &kp DE_RIGHT_BRACE                  &kp DE_SEMICOLON     &kp DE_AMPERSAND  &kp DE_TILDE
                                        &trans            &trans               &trans                                   &trans                &trans                          &trans
            >;

            label = "prog";
        };

        layer_3 {
            bindings = <
&kp ESCAPE                       &none                              &kp K_PREVIOUS   &kp LS(C_PLAY)   &kp K_STOP       &kp K_NEXT       &none        &kp ESCAPE          &mt DE_SLASH DE_N7   &mt DE_LEFT_PARENTHESIS DE_N8  &mt DE_RIGHT_PARENTHESIS DE_N9  &none  &kp DE_PLUS      &kp DE_MINUS
&rgb_ug RGB_COLOR_HSB(0,100,46)  &rgb_ug RGB_COLOR_HSB(124,100,50)  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG  &none            &kp DE_EURO  &mt DE_EQUAL DE_N0  &mt DE_DOLLAR DE_N4  &mt DE_PERCENT DE_N5           &mt DE_AMPERSAND DE_N6          &none  &kp DE_ASTERISK  &kp DE_SLASH
&rgb_ug RGB_HUD                  &rgb_ug RGB_HUI                    &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI                                   &mt DE_EXCL DE_N1    &mt DOUBLE_QUOTES DE_N2        &mt DE_SECTION DE_N3            &none  &kp DE_COMMA     &kp BACKSPACE
                                                                                     &none            &none            &kp SPACE                                         &kp RET              &kp K_CALCULATOR               &kp PRINTSCREEN
            >;
        };

        layer_4 {
            bindings = <
&trans   &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6  &kp F7  &kp F8     &kp F9     &kp F10    &kp F11    &kp F12    &trans
&kp TAB  &kp DE_N1  &kp DE_N2  &kp DE_N3  &kp DE_N4  &kp DE_N5  &trans  &trans  &kp DE_N6  &kp DE_N7  &kp DE_N8  &kp DE_N9  &kp DE_N0  &trans
&trans   &trans     &trans     &trans     &trans     &trans                     &trans     &trans     &trans     &trans     &kp TAB    &trans
                               &trans     &trans     &kp SPACE                  &trans     &trans     &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &kp K_PLAY_PAUSE  &kp K_PREVIOUS  &kp K_NEXT  &kp K_STOP  &trans       &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans            &trans          &trans      &kp C_STOP  &trans       &trans
&trans  &trans        &bt BT_CLR    &sys_reset    &bootloader   &trans                        &trans            &trans          &trans      &trans      &bootloader  &trans
                                    &trans        &trans        &trans                        &trans            &trans          &trans
            >;
        };
    };
};
